{{ $item := .item }}

{{/* Dynamic view adjusts to content type. */}}
{{ $has_attachments := partial "functions/has_attachments" $item }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if $item.Params.abstract }}
  {{ $summary = $item.Params.abstract | markdownify | emojify }}
{{ else if $item.Summary }}
  {{ $summary = $item.Summary }}
{{ end }}

<div class="card-simple view-card small-card">

  {{ if eq $item.Type "event" }}
  <div class="article-metadata small-text">
    {{ if $item.Params.authors }}
    <div>
      {{ range $index, $author := $item.Params.authors }}
        {{- if $index }}, {{ end }}{{ $author }}
      {{ end }}
    </div>
    {{ end }}
    <span>
      {{ partial "functions/get_event_dates" $item }}
    </span>
    {{ with $item.Params.location }}
    <span class="middot-divider"></span>
    <span>{{ . }}</span>
    {{ end }}
  </div>
  {{ else }}
    {{ partial "page_metadata" (dict "page" $item "is_list" 1) }}
  {{ end }}

  {{/* 文章图片（去除超链接并缩小尺寸） */}}
  {{ $resource := partial "blox-core/functions/get_featured_image.html" $item }}
  {{ $anchor := $item.Params.image.focal_point | default "Smart" }}
  {{ with $resource }}
    {{ $image := .Fill "400x225" }}  {{/* 调整图片大小 */}}
    {{ if ne $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}
    <div class="img-hover-zoom">
      <img src="{{ $image.RelPermalink }}" height="225" width="400"
          class="article-banner small-img" alt="{{ $item.Title }}" loading="lazy">
    </div>
  {{end}}

  <!-- 文章标题（去掉超链接） -->
  <div class="section-subheading article-title mb-1 mt-3 small-text">
    <span>{{ $item.Title }}</span>
  </div>

  <!-- 文章摘要（去掉超链接） -->
  {{ with $summary }}
  <div class="article-style small-text">
    <p>{{.}}</p>
  </div>
  {{ end }}

  <!-- 附件 -->
  {{ if $has_attachments }}
  <div class="btn-links">
    <span>{{ partial "page_links" (dict "page" $item "is_list" 1) }}</span>
  </div>
  {{ end }}

</div>
