// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}
// 只加粗导航栏中的链接文字 https
nav ul li a {
  font-weight: bold;
}
