<header id="site-header" class="header">
    <nav class="navbar px-3 flex justify-left">
      <div class="order-0 h-100">
        <!-- Brand -->
        <a class="navbar-brand" href="{{ site.Params.header.navbar.logo.url }}">
            {{- $logo_filename := site.Params.header.navbar.logo.filename -}}
            {{- if $logo_filename -}}
              <img src="{{ $logo_filename | relURL }}" alt="Tsinghua University Logo" height="40">
            {{- else -}}
              {{ site.Title }}
            {{- end -}}
          </a>