<header id="site-header" class="header">
    <nav class="navbar px-3 flex justify-left">
      <div class="order-0 h-100">
        <!-- Brand -->
        {{- $logo_filename := site.Params.header.navbar.logo.filename -}}
        {{- $logo_url := site.Params.header.navbar.logo.url -}}
        <a class="navbar-brand" href="{{ $logo_url }}" title="{{ site.Title }}">
          <img src="{{ $logo_filename | relURL }}" alt="Tsinghua University Logo" height="40">
        </a>
      </div>
    </nav>
  </header>
  