<header id="site-header" class="header">
    <nav class="navbar px-3 flex justify-left">
      <div class="order-0 h-100">
        <!-- 解析 params.yaml 里的 Logo -->
        {{- $logo_filename := site.Params.header.navbar.logo.filename -}}
        {{- $logo_url := site.Params.header.navbar.logo.url | default site.Home.RelPermalink -}}
  
        <a class="navbar-brand" href="{{ $logo_url }}" title="{{ site.Title }}">
          {{- if $logo_filename -}}
            <img src="{{ $logo_filename | relURL }}" alt="Tsinghua University Logo" height="40">
          {{- else -}}
            {{ site.Title }}
          {{- end -}}
        </a>
      </div>
  
      <!-- Navbar 菜单 -->
      <div class="navbar-menu ml-auto">
        <ul class="navbar-nav">
          {{ range site.Menus.main }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </header>
  